<mat-toolbar color="primary">
  <mat-icon>add_task</mat-icon>
  <span>&nbsp; &nbsp;Task Management</span>
</mat-toolbar>

<!-- FORM START -->
<div style="align-items: center;padding-left: 2%;">
  <h2>User Form</h2>
  <mat-form-field appearance="outline" style="width: 90%;">
    <mat-label>User Name</mat-label>
    <input matInput placeholder="Placeholder" [(ngModel)]="uname" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <div class="example-container">
    <mat-form-field appearance="fill" style="width: 90%;"> 
      <input matInput placeholder="pat@example.com"  required [(ngModel)]="uemail">
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill" style="width: 90%;">
    <mat-label>Message</mat-label>
    <textarea matInput [(ngModel)]="umsg" required></textarea>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field><br>
  <button mat-raised-button color="primary" style="margin: auto;display: flex;" (click)="formSubmit()" [disabled]="!uname || !uemail || !umsg">Submit</button>
</div>
<!-- FORM END -->


<!-- TASK START -->
<div class="content-wrapper">
  <button mat-button (click)="newTask()"> 
    <mat-icon>add</mat-icon>Add Task
  </button>
  <div class="container-wrapper">
    <div class="container">
      <h2>Backlog</h2>

      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo | async"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
        <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo | async" cdkDrag [task]="task"></app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>In progress</h2>

      <mat-card
        cdkDropList
        id="inProgress"
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress | async"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
        <app-task (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress | async" cdkDrag [task]="task"></app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>Done</h2>

      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done | async"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
        <app-task (edit)="editTask('done', $event)" *ngFor="let task of done | async" cdkDrag [task]="task"></app-task>
      </mat-card>
    </div>
  </div>
</div>
<!-- TASK END -->